.nav-item {
  &:hover {
    background-color: #000;
    opacity: 0.5;
    border-radius: 5px;
  }
}
.search-input {
  background: url(./images/search.svg) no-repeat 5px 7px / 25px #2f2f2f;
  border-radius: 20px;
  outline: none;
  &:focus {
    background: #2f2f2f;
  }
}

@media screen and (min-width: 576px) {
  .navbar {
    width: 100%;
  }
  .navbar-nav {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .navbar {
    width: inherit;
  }
  .navbar-nav {
    width: inherit;
  }
}
